In [1]:
print ("Hello World!")

Hello World!

In [3]:
x = 5
if x>=5:
    print('Hi')

Hi

In [7]:
"""
Hi
Hello
Welcome
"""
print("HI")

HI

In [11]:
x=5
y='Sandeep'
print(type(x),type(y))

<class 'int'> <class 'str'>

In [12]:
x,y,z= 'Hi',3,4.6
print(x,y,z)

Hi 3 4.6

In [13]:
x=y=z=6
print(x,y,z)

6 6 6

In [14]:
lst = ['san','sam','raj']
#Unpacking
x,y,z = lst
print(x,y,z)

san sam raj

In [15]:
def myfunc():
    print("Hello from inside")
    
myfunc()

Hello from inside

In [20]:
b = "Hello World"
print (b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo World
Wor

In [21]:
x= lambda a,b : a*b
print(x(5,6))

30

In [23]:
b = "Hello World"
print(len(b))

11

Array Methods
Python has a set of built-in methods that you can use on lists/arrays.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

Example
Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [24]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [25]:
#creating a child class from Person
class Student(Person):
    pass

In [28]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)
    
a = Student('Rajesh','Kumar',2021);
a.welcome()

Welcome Rajesh Kumar to the class of 2021

In [30]:
lst = [1,2,3]
myit = iter(lst)
print(next(myit))
print(next(myit))
print(next(myit))

1
2
3

There is a built-in function to list all the function names (or variable names) in a module. The dir() function:

Example
List all the defined names belonging to the platform module:

import platform

x = dir(platform)
print(x)

In [33]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2021
Sunday

To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

Example
Create a date object:

import datetime

x = datetime.datetime(2020, 5, 17)

print(x)
The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [34]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [37]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [39]:
#Convert Python objects into JSON strings, and print the values:

import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

Metacharacters
Metacharacters are characters with a special meaning:

Character	Description	Example	
[]	A set of characters	"[a-m]"	
\	Signals a special sequence (can also be used to escape special characters)	"\d"	
.	Any character (except newline character)	"he..o"	
^	Starts with	"^hello"	
$	Ends with	"planet$"	
*	Zero or more occurrences	"he.*o"	
+	One or more occurrences	"he.+o"	
?	Zero or one occurrences	"he.?o"	
{}	Exactly the specified number of occurrences	"he{2}o"	
|	Either or	"falls|stays"	
()	Capture and group

In [42]:
try:
  print(f)
except NameError:
  print("Variable f is not defined")
except:
  print("Something else went wrong")

Variable f is not defined

In [43]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

To throw (or raise) an exception, use the raise keyword.

Example
Raise an error and stop the program if x is lower than 0:

In [44]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

List comprehension
List comprehension is a quick way to iterate through the elements of a list.

Normally, you can iterate through elements of a list with a loop. The list comprehension allows you to manipulate lists in a very concise way to obtain new lists, and it is usually more efficient than looping. The syntax is:

[func(element) for element in list]

the list comprehension can also have conditions on the selection of elements:

[func(element) for element in list if {condition on element}]

In [46]:
# The best way: list comprehension
list2 = [1,2,3]
listdouble = [item*2 for item in list2]
print(listdouble)

[2, 4, 6]

In [47]:
doubleodds = [item*2 for item in list2 if item%2==1]
print(doubleodds)

[2, 6]

In [ ]:
# Use the callable() function to determine if an object is callable
callable(dict1)
# Use the repr() function to return a string representation of an object
set1 = 123
repr(set1)
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

In [48]:
set1 = 123
repr(set1)

'123'

In [49]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:sandeep
Username is: sandeep

NumPy has a whole sub module dedicated towards matrix operations called numpy.mat

In [76]:
# import numpy as np
# a=np.arange(10)
# b=a.reshape(5,2)
# print(b)
# c=np.ones(b.shape[0])
# print(c)
# np.c_[b,c]

In [86]:
import numpy as np
a=np.arange(10)
a=a+2
a

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])